@import "@/scss/global.scss";
@import "@/scss/variables.scss";

.question-container {
    @extend .flex-column;
    @extend .align-start;
    margin-top: $screen-margin;
    gap: $screen-margin-double;

    @extend .content-width;

    .empty-card {
        background-color: $darker-container-background-color;
        color: $alert-background-color;
        border: $darker-container-background-color solid 1px;
        box-sizing: border-box;
        padding: $screen-margin;

        @extend .border-radius-1;
        @extend .flex-column;
        @extend .justify-start;
        @extend .content-width;
    }

    .question-list {
        @extend .content-width;

        .question {
            border: 1px solid lightgray;
            border-top: none;
            box-sizing: border-box;
            padding: $screen-margin;
            gap: $screen-margin-quarter;

            @extend .flex-row;
            @extend .justify-space-between;
            @extend .align-center;

            .question-text {
                @extend .flex-column;
                @extend .align-start;
            }

            .question-delete {
                height: 30px;
                width: 30px;
                display: flex;
                align-items: center;
                justify-content: center;

                @extend .alert-bg;
            }

            &:last-child {
                border-top-left-radius: 0px;
                border-top-right-radius: 0px;
                border-bottom-left-radius: $screen-margin-quarter !important;
                border-bottom-right-radius: $screen-margin-quarter !important;
                border-top: none;
            }

            &:first-child {
                border-top-left-radius: $screen-margin-quarter;
                border-top-right-radius: $screen-margin-quarter;
                border-bottom-left-radius: 0px;
                border-bottom-right-radius: 0px;
                border: 1px solid lightgray;
            }
        }
    }

    .button-container {
        @extend .flex-row;
        gap: $screen-margin-quarter;
    }
}

.question-creator {
    @extend .flex-column;
    @extend .align-start;
    @extend .content-width;
    gap: $screen-margin;

    .button-container {
        @extend .flex-row;
        @extend .align-center;
        gap: $screen-margin;
    }
}
