@import "@/scss/global.scss";
@import "@/scss/variables.scss";

button {
    height: 40px;
    width: fit-content;
    color: white;
    font-size: 16px;
    font-weight: 400;

    padding: $screen-margin-quarter $screen-margin;
    
    @extend .border-light;
    @extend .border-radius-1;

    &:hover {
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    }
}

.checkbox {
    @extend .flex-row;
    @extend .align-center;
    gap: $screen-margin-quarter;
}

.textfield {
    @extend .flex-column;
    @extend .align-start;
    gap: $screen-margin-quarter;

    .input-field {
        min-height: 30px;
        box-sizing: border-box;
        padding: 0px $screen-margin-quarter;

        @extend .border-radius-1;
        @extend .border-light;
        @extend .content-width;
    }
}

.tooltip {
    position: relative;
    display: inline-block;
    background-color: yellow;

    .tooltip-text {
        font-size: 14px;
        color: white;
        width: 100%;
        
        visibility: hidden;

        @extend .border-light;
    }

    &:hover {
        background-color: green;
    }
}