@import "@/scss/global.scss";
@import "@/scss/variables.scss";

button {
    height: 40px;
    width: fit-content;
    color: white;
    font-size: 16px;
    font-weight: 400;

    padding: $screen-margin-quarter $screen-margin;
    
    @extend .border-light;
    @extend .border-radius-1;

    &:hover {
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    }
}

.checkbox {
    @extend .flex-row;
    @extend .align-center;
    @extend .gap-1;
}

.textfield {
    @extend .flex-column;
    @extend .align-start;
    @extend .gap-1;
    margin-top: -5px;

    .input-field {
        min-height: 30px;
        box-sizing: border-box;
        padding: 0px $screen-margin-quarter;

        @extend .border-radius-1;
        @extend .border-light;
        @extend .content-width;
    }

    .error {
        color: $color-warning;
        font-size: 14px;
    }
}

.tooltip {
    margin-top: $screen-margin-double;
    position: relative;
    display: inline-block;

    .tooltip-text {
        font-size: 14px;
        color: white;
        background-color: $container-background-color;
        visibility: hidden;
        padding: $screen-margin-quarter;

        @extend .border-radius-1;
        @extend .border-light;
    }
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}