@import "@/scss/global.scss";

.questions {
    @extend .flex-column;
    @extend .align-center;
    @extend .header-bg;
    @extend .border-radius-1;

    .question-card {
        width: 800px;
        max-width: 100vw;
        gap: $screen-margin-half;
        padding-left: $screen-margin-quarter;

        @extend .flex-column;
        @extend .align-start;
    }
}
