@import "@/scss/global.scss";
@import "@/scss/media.scss";

.questions {
    @extend .flex-column;
    @extend .align-center;

    .header {
        padding: $screen-margin 0px;
        margin: 0px $screen-margin;

        @extend .content-width;
        @extend .border-radius-1;
        @extend .header-bg;
    }

    .question-card {
        width: 800px;
        max-width: 100vw;
        margin: $screen-margin;
        gap: $screen-margin-half;

        @extend .flex-column;
        @extend .align-center;
    }
}
