/*******************************************************************************/
/************************************ Colors ***********************************/
/*******************************************************************************/
$color-success:#4CAF50;
$color-warning:#FFAC40;

$text-dark: #344655;

$container-background-color: #dbd9d9;
$darker-container-background-color: #cb5d5560;
$info-background-color: #2a76d1;
$alert-background-color: #cb5c55;

$screen-margin: 16px;
$screen-margin-double: 32px;
$screen-margin-quarter: 4px;
$screen-margin-half: 8px;